<!-- <mat-drawer-container>
    <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
        [ngClass]="{ 'sidenav-collapsed': collapsedNav && !mobileQuery.matches }">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content [ngClass]="{ 'sidenav-collapsed': collapsedNav && !mobileQuery.matches }">
        <app-header></app-header>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container> -->

<mat-drawer-container>
    <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
        [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
        <div class="sidenav-header">
            <span (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">{{collapsedNav &&
                !mobileQuery.matches ? 'It idol' : 'It idol'}}</span>
        </div>
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
        <mat-toolbar>

            <app-header></app-header>
        </mat-toolbar>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<!-- <button mat-icon-button (click)="snav.toggle()"> -->