$bg_white: #FFFFFF;
$blackish_blue: #002742;
$pinkish_red: #E8244F;
$label_color: #626262;
$input_text_color: #B6B6B6;
$gray:#496980;
$gray_one:#B0BCC4;
$gray_two:#434343;
$gray_three:#939393;
$border: #E6E9EC;