@font-face {
    font-family: 'Zoho Puvi';
    src: url('../../font/ZohoPuvi-Black.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Black.woff') format('woff'),
        url('../../font/ZohoPuvi-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi';
    src: url('../../font/ZohoPuvi-Bold.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Bold.woff') format('woff'),
        url('../../font/ZohoPuvi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi';
    src: url('../../font/ZohoPuvi-BoldItalic.woff2') format('woff2'),
        url('../../font/ZohoPuvi-BoldItalic.woff') format('woff'),
        url('../../font/ZohoPuvi-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi ExtBlk';
    src: url('../../font/ZohoPuvi-Extrablack.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Extrablack.woff') format('woff'),
        url('../../font/ZohoPuvi-Extrablack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi ExtLt';
    src: url('../../font/ZohoPuvi-Extralight.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Extralight.woff') format('woff'),
        url('../../font/ZohoPuvi-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi ExtBd';
    src: url('../../font/ZohoPuvi-Extrabold.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Extrabold.woff') format('woff'),
        url('../../font/ZohoPuvi-Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi Med';
    src: url('../../font/ZohoPuvi-Medium.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Medium.woff') format('woff'),
        url('../../font/ZohoPuvi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi';
    src: url('../../font/ZohoPuvi-Light.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Light.woff') format('woff'),
        url('../../font/ZohoPuvi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi';
    src: url('../../font/ZohoPuvi-RegularItalic.woff2') format('woff2'),
        url('../../font/ZohoPuvi-RegularItalic.woff') format('woff'),
        url('../../font/ZohoPuvi-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi SemBd';
    src: url('../../font/ZohoPuvi-SemiboldItalic.woff2') format('woff2'),
        url('../../font/ZohoPuvi-SemiboldItalic.woff') format('woff'),
        url('../../font/ZohoPuvi-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi SemBd';
    src: url('../../font/ZohoPuvi-Semibold.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Semibold.woff') format('woff'),
        url('../../font/ZohoPuvi-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi';
    src: url('../../font/ZohoPuvi-Regular.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Regular.woff') format('woff'),
        url('../../font/ZohoPuvi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zoho Puvi';
    src: url('../../font/ZohoPuvi-Thin.woff2') format('woff2'),
        url('../../font/ZohoPuvi-Thin.woff') format('woff'),
        url('../../font/ZohoPuvi-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

