@import "~bootstrap/dist/css/bootstrap.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// @import '../css/variable';
@import 'variable';


@font-face{
    font-family: $font_metropolish;
    src: url(../fonts/Metropolis-Thin.ttf);
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: $font_metropolish;
    src: url(../fonts/Metropolis-Light.ttf);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: $font_metropolish;
    src: url(../fonts/Metropolis-Regular.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: $font_metropolish;
    src: url(../fonts/Metropolis-Medium.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: $font_metropolish;
    src: url(../fonts/Metropolis-SemiBold.ttf);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: $font_metropolish;
    src: url(../fonts/Metropolis-Bold.ttf);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body.mat-typography {
    width: 100%;
    margin: 0;
    font-family: $font_metropolish ,$font_sans_sarif;
    height: 100%;
    color: $primary_color;
    letter-spacing: 0.5px;
}
.mat-body,
.mat-body-1,
.mat-typography .mat-body,
.mat-typography .mat-body-1,
.mat-typography {
    font: 400 14px/24px $font_metropolish, $font_sans_sarif;
}
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5 {
    font-family: $font_metropolish, $font_sans_sarif;
    line-height: 24px;
}
.light_background{
    background-color: $color_light_bg;
}
.dark_background{
    background-color: $color_dark_bg;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
a{
    text-decoration: none;
    color: $color_text_2;
}
a:hover{
    color: $color_heading;
    text-decoration: none;
}
.btn_primary{
    background-color: $color_highlight;
    color: $white;
    border: none;
    font-weight: 500;
}
.btn_primary:hover{
    background-color: $color_heading;
    color: $white;
    transition-delay: 250ms;
}
button,
.button,
.btn {
    transition: all .5s cubic-bezier(.645, .045, .355, 1);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    letter-spacing: .38px;
    display: flex;
    justify-content: center;
    padding: 9px 28px;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: none;
    background-color: none;
    border-color: none;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: none;
    background-color: none;
    border-color: none;
}

.btn-primary:focus,
.btn-primary.focus {
    color: none;
    background-color: none;
    border-color: none;
    box-shadow: none;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: none;
    background-color: none;
    border-color: none;
    box-shadow: none;
}

.btn-primary {
    background: $primary_color;
    color: $white;
    border: none;
    font-weight: 600;
}

.btn-primary:hover {
    background: $background_btn;
    box-shadow: $box-shadow;
    color: $white;
}

.btn-secondary {
    background: $background_btn;
    box-shadow: $box-shadow;
    color: $white;
    font-weight: 600;
}

.btn-secondary:hover {
    background: $primary_color;
    color: $white;
    border: none;
}
.box_shadow{
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);
}
.text-danger {
    color: $color_highlight;
    font-weight: 600;
    padding: 2px;
}
.logo img {
    padding-left: 5px;
}

.text-underline {
    text-decoration: underline;
}

app-leave-list,
app-leave-list-admin,
app-pending-request,
app-home,
app-report,
app-status-leaves,
app-upcoming-leaves,
app-employees,
app-attendance,
app-projects,
app-project-list,
app-edit-project,
app-holiday,
app-add-holiday,
app-edit-holiday,
app-user-holiday{
    width: 100%;
}

// app-leave-list-admin {
//     width: 100%;
// }

// app-pending-request {
//     width: 100%;
// }

// app-home {
//     width: 100%;
// }

// app-report {
//     width: 100%;
// }
.action-btn-wrap {
  display: flex;
  align-items: center;
  button {
    padding: 8px 12px;
    margin: 5px;
  }
}

app-add-leave-developer,
app-profile-update {
    width: 60%;
    margin-top: 2%;
    margin-left: 2%;

    h1#developer_title {
        margin: 5px 5px 16px;
        padding: 5px;
    }

    h1.model_title::after {
        left: 6px;
    }
}

.leave-modal {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.leave-actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.login-heading {
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 4px solid #a09a9c;
    display: inline-block;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.main {
    padding: 30px;
}

.page-main {
    overflow: hidden;
    position: relative;
}

.page-main.bg-white {
    width: 100%;
}

.maincode-page {
    min-height: 100vh;
    display: flex;
}

.my_custom_side {
    border: 1px solid $gray_border;
    border-bottom: none;
    border-top: none;
    border-left: none;
    height: 100%;
    background-color: $secondary_color;
    max-width: 250px;
    width: 250px;

    .navbar-nav {
        display: block;
    }

    .navbar-toggler {
        top: 0;
        z-index: 99999;
        position: fixed;

        .mat-icon {
            margin-top: 19px;
        }
    }

    .navbar {

        padding: 0;

        button {
            border: none !important;
        }
    }

    ul {
        width: 100%;
    }

    .nav-link {
        border: 1px solid #5a5151 90, 81, 81;
        display: list-item;
        align-items: center;
        font-size: 17px;
        color: #041f28;
        font-weight: 600;

        img {
            margin-right: 18px;
            margin-bottom: 3px;
            max-width: 32px;
        }
    }

    li.nav-item.active {
        background-color: $primary_color;

        .nav-link {
            color: $white;
        }

    }

    .mat-icon {
        margin-right: 20px;
    }
}

li.nav-item {
    &:hover {
        background: $background_btn;


        .nav-link {
            color: $white;
        }
    }

    &.active {
        background-color: rgba(53, 155, 158, 0.2);
    }
}

.topbut {
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    .header-text{
        font-size: 20px;
        color: #041f28;
        font-weight: bolder;
    }
}



.header {
    background-color: $secondary_color;
    padding: 10px 15px;

}

.header .header-right {
    a {
        &:hover {
            background: $background_btn;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.header .header-right a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: 600;

    .material-icons-round {
        font-size: 20px;
    }
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

th.action {
    padding-left: 27px;
}

.login-form a {
    color: #212529;
}


.disable {
    pointer-events: none;
    background-color: #e0e0e0;
}

button.btn.btn-link.ngb-dp-arrow-btn {
    vertical-align: middle;
    margin: auto;
}

.souce_other {
    margin-top: 10px;
}

span.close_td a {
    background: #007bff;
    padding: 2px 5px;
    border-radius: 5px;
    color: white !important;
}

span.active_td a {
    background: #28a745;
    padding: 2px 5px;
    border-radius: 5px;
    color: white !important;
}

span.inactive_td a {
    background: #007bff;
    padding: 2px 5px;
    border-radius: 5px;
    color: white !important;
}

table {
    color: black;
    text-align: center;
    font-size: 16px;

    .material-icons-round {
        color: $primary_color;

        &:hover {
            background: $background_btn;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    td.active_td,
    td.close_td,
    td.inactive_td,
    td.applied_td,
    td.reject_td,
    td.cancel_td,
    td.approve_td {
        // padding: 9px 28px;
        // border-radius: 5px;
        // vertical-align: middle;
        margin: auto;
        font-weight: bolder;
        font-family: sans-serif;
    }

    td.cancel_td2 {
        padding: 9px 28px;
        border-radius: 5px;
        vertical-align: middle;
        margin: auto;
        border: 3px solid gray;
        background: #80808050;
    }

    td.close_td {
        background: #007bff;
    }

    td.active_td,
    td.approve_td {
        // background: #19875440;
        // border: 3px solid #198754;
        color: #198754 !important;
    }

    td.inactive_td,
    td.cancel_td {
        // border: 3px solid gray;
        // background: #80808050;
        color: gray !important;
    }

    td.reject_td {
        //    border: 3px solid #dc3545;
        //    background: #dc354540;
        color: #dc3545 !important;
    }

    td.applied_td {
        // border: 3px solid #ffc107;
        // background: #ffc10740;
        color: #ffc107 !important;
    }

    thead tr {
        // background: $background_btn;
        // color: $white;
            background-color: #9be1f8;
            color :black!important;
    }

    tr {
        font-weight: 700;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(242 251 251);
}

table tr {
    text-align: left;
}

table td {
    border-bottom: 1px solid #dee2e6;
}

table td .btn {
    margin-left: 0;
    padding: 0;
    margin-right: 10px;
}

.table-color td {
    vertical-align: middle !important;
    border-top: 1px solid #b8daff !important;
    border-bottom: 1px solid #b8daff !important;
}

.table-color thead th,
.table-color th {
    border-color: #b8daff !important;
    border-bottom: 2px solid #b8daff !important;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.filterBtn {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.filterBtn .add_edit_del_Btn {
    width: 180px;
}

.select-place {
    color: gray;
}

.flex-zero {
    flex-basis: auto !important;
}

.margin-5 {
    margin: 5px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $primary_color;
    border-color: $primary_color;
}

.page-link:hover {
    z-index: 2;
    color: $white;
    text-decoration: none;
    background: $background_btn;
    border: 1px solid $primary_color;
}

.page-item.disabled .page-link:focus {
    box-shadow: none;
    outline: none;
}

.page-item.active .page-link {
    box-shadow: none;
    outline: none;
}

.mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover~.mat-form-field-underline .mat-form-field-ripple {
    opacity: 0 !important;
    transform: none;
    transition: none !important;
}

.mat-form-field-flex {
    border: 1px solid rgb(199, 192, 192) !important;
    padding: 0;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0 !important;
}

.mat-dialog-actions button.btn {
    margin-left: 20px;
}

.mat-dialog-actions {
    justify-content: end;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: rgba(0, 0, 0, .87) !important;
    height: 0 !important;
}

.form-control[readonly]:focus {
    border-color: #ced4da !important;
    outline: 0;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

h1 {
    &.model_title {

        font-size: 30px;
        color: $primary_color;
        font-weight: 500;
        position: relative;
        margin-left: 30px;
        &::after {
            content: "";
            width: 60px;
            height: 3px;
            position: absolute;
            background: $background_btn;
            bottom: -4px;
            left: 1px;
            right: 0;
        }
    }
}

.btn.calendar {
    padding: 0px;
    max-width: 30px;
    border: 1px 1px 1px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ced4da;
    background: #e9ecef;
    border-radius: 0;
}

form-control select,
label {
    font-weight: 600;
}
input[placeholder] {
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}
.btn-secondary:disabled,
.btn-secondary:disabled:hover {
    color: #fff;
    background: #6c757d;
    border-color: #6c757d;
}

.datePicker.form-control[readonly] {
    background: white;
}

button.btn.calendar.datePicker {
    background: white
}

.btn.calendar {
    background: $white;
}

.btn-info:focus,
.btn-info.focus {
    box-shadow: none;
    outline: none;
}

.btn:focus,
.btn.focus {
    box-shadow: none;
    outline: none;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    background-color: $white;
    border-color: $white;
}

.required-astrick {
    color: red;
}

.info {
    font-weight: 900;
}

button.approve_Btn:disabled,
button.reject_Btn:disabled {
    background-color: gray;
    color: white;
    pointer-events: none;
    border-radius: 4px;
    margin-right: 5px;
    opacity: 0.5;
}

button.approve_Btn,
button.reject_Btn,
button.cancel_Btn {
    border-radius: 4px;
    color: white;

    span {
        color: white;
    }

    span.material-icons-round:hover {
        background: linear-gradient(142deg, #ffffff 1%, #ffffff 34%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

button.approve_Btn {
    background-color: #2e7d32;
    margin-right: 5px;
}

button.reject_Btn {
    background-color: #d32f2f;
}

button.cancel_Btn {
    background-color: gray;
}

li.page-item.ng-star-inserted.active {
    a.page-link.ng-star-inserted {
        span.visually-hidden.ng-star-inserted {
            display: none;
        }
    }
}

.ipIcon {
    position: relative;

    input {
        padding-left: 2.3rem;
    }

    select.form-control {
        padding-left: 2rem;
    }
}

.inputIcon {
    position: absolute;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
}
.eye-icon{
    margin-left: 41%;
    cursor: pointer;
}
.eye-icon-reg{
    margin-left: 85%;
}
.applied_card,
.approve_card,
.reject_card,
.cancel_card {
    width: 15%;
    text-align: center;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 20%), 0px 1px 3px 0px rgb(0 0 0 / 20%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px 20px;
    border-radius: 0.25rem;
    font-weight: bolder;
    margin: 10px;

    h2 {
        margin: 0rem;
    }

    h1 {
        margin: 0rem;
        font-weight: bolder;
        font-family: fangsong;
    }
}

.applied_card {
    color: #ffc107 !important;

    h1 {
        color: #ffc107 !important;
    }
}

.approve_card {
    color: #198754 !important;

    h1 {
        color: #198754 !important;
    }
}

.reject_card {
    color: #dc3545 !important;

    h1 {
        color: #dc3545 !important;
    }
}

.cancel_card {
    color: gray !important;

    h1 {
        color: gray !important;
    }
}

.ml-15 {
    margin-left: 15px;
}

.mat-badge-content {
    font-weight: 400;
}

.appliedBadge.mat-badge-accent .mat-badge-content {
    background: #ffc107;
}

.approvedBadge.mat-badge-accent .mat-badge-content {
    background: #198754;
}

.rejectedBadge.mat-badge-accent .mat-badge-content {
    background: #dc3545;
}

.cancelledBadge.mat-badge-accent .mat-badge-content {
    background: gray;
}

.margin-top-6 {
    margin-top: 6px;
}

.margin-right-10 {
    margin-right: 10px;

}
.dev-leave {
    align-items: center;

    label {
        margin: 0;
    }

    .dev-leave-radio {
        margin-left: 2%;
        font-size: 16px;
        font-weight: 900;
    }

    .dev-leave-radio-text {
        align-items: center;
        justify-content: space-evenly;
        width: 50px;
        flex-direction: row;
    }
}
.profile-image {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 0 auto;
    .img-fluid{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .imgBorder{
        border: 1px solid #18234d;
    }
    .image-icon-div {
        margin-left: -35px;
        border: 1px solid;
        border-radius: 50%;
        padding: 4px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 20px;
        }
    }
}
.dashboard-cards {
    width: 60%;

    mat-card.mat-card.mat-focus-indicator.menu-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 16px;
        box-shadow: 0px 2px 1px -1px rgb(242, 251, 251, 0.2), 0px 1px 1px 0px rgb(242, 251, 251, 0.14), 0px 1px 3px 0px rgb(242, 251, 251, 0.12);
    }

    .menu-card {
        span.material-icons-round.micon {
            font-size: 45px;
        }

        span.material-icons-round.micon.emp {
            color: coral;
        }
        span.material-icons-round.micon.pending {
            color: #ffc107;
        }

        span.material-icons-round.micon.leaves {
            color: #007bff
        }
        span.material-icons-round.micon.report {
            color: teal;
        }
        span.material-icons-round.micon.upcoming {
            color: indigo;
        }
        span.material-icons-round.micon.approve {
            color: #198754;
        }
        span.material-icons-round.micon.profileUpdate {
            color: cadetblue;
        }
        span.material-icons-round.micon.cancel {
            color: gray;
        }

        span.material-icons-round.micon.reject {
            color: #dc3545;
        }
        .file-upload {
            display: flex;
            align-items: center;
        }
    }
    .menu-content {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 1px;
            font-family: serif;
            font-weight: bolder;
        }

        span {
            font-family: 'Barlow', sans-serif !important;
            font-weight: bolder;
        }
    }
    .menu {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        .attendance-heading {
            width: 150px;
            h3 {
                margin: 1px;
                font-family: serif;
                font-weight: bolder;
            }
        }

        .attendance-data {
            padding: 5px;
            width: 200px;
        }
    }

    .margin-right-20 {
        margin-right: 20px;
    }
}
.my-ng-fullcalendar {
    &.fc {
        .fc-col-header  {
            thead {
                tr {
                    th {
                        .fc-scrollgrid-sync-inner {
                            a {
                                &.fc-col-header-cell-cushion {
                                    padding: 10px 4px;
                                    color: #18234d;
                                    text-decoration: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
    .fc-col-header  {
        thead {
            tr {
                th {
                    .fc-scrollgrid-sync-inner {
                        a {
                            &.fc-col-header-cell-cushion {
                                padding: 10px 4px;
                                color: #18234d;
                                text-decoration: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


// authentication_block
.main_auth_block{
    .auth_align{
        display: flex;
        align-items: center;
        justify-content: center;        
    }
    .auth_block{
        .auth_info{
            min-width: 500px;
            background-color: $color_white;
            padding: 30px 30px;
            border-radius: 12px;
            margin: 0 auto;
            .heading_block{
                text-align: center;
                padding-bottom: 30px;
                h1{
                    color: $color_heading;
                    font-weight: 900;
                    font-size: 24px;
                    margin: 0;
                }
                p{
                    color: $color_highlight;
                    font-weight: 600;
                }
            }
            .fild_block{
                form{
                    label{
                        color: $color_text_1;
                        font-size: 13px;
                    }
                    .button_block{
                        padding: 20px 0;
                    }
                    .link_block{
                        padding: 10px 0;
                        p{
                            color: $color_text_2;
                            margin: 0;
                            font-weight: 100;
                            a{
                                font-weight: 800;
                                color: $color_highlight;
                            }
                        }
                    }
                    .or_block{
                        color: $color_placeholder;
                        ::after{
                            content: "";
                            display: block;
                            width: 75px;
                            height: 1px;
                            background: $color_placeholder;
                            left: 30%;
                            top: 50%;
                            position: absolute;   
                        }
                        ::before{
                            content: "";
                            display: block;
                            width: 75px;
                            height: 1px;
                            background: $color_placeholder;
                            right: 30%;
                            top: 50%;
                            position: absolute; 
                        }
                        p{
                            margin: 0;
                        }
                    }
                    .eye_icon{
                        position: absolute;
                        right: 0;
                        padding: 0.375rem 0.75rem;
                    }
                }
            }
        }
    }
    .image_block{
        position: absolute;
        bottom: 0;
        right: 0;
        img{
            box-shadow: -8px -4px 21px rgba(0, 0, 0, 0.15);
            border-radius: 12px 0 0 0;
            width: 100%;
            float: right;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1280px) { 
    .main_auth_block{
        .auth_block{
            .auth_info{
                min-width: 450px;
            }
        }
        .image_block{
            img{
                width: 90%;
            }
        }
    }
 }

