<div class="auth_screen_main_wrapper">
    <div class="row">
        <div class="auth_screen_left_wrapper col-md-6">
            <div class="card_box">
                <div class="welcome_text">
                    <h1>Reset Password?</h1>
                    <p>Please choose your new password</p>
                </div>
                <div>
                    <form [formGroup]="resetPasswordForm">
                        <div class="form-group">
                            <label class="form-label" for="email">Email<span class="required-astrick">*</span></label>
                            <div>
                                <input type="email" formControlName="email"
                                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control"
                                    placeholder="Your email address" id="email">
                            </div>
                            <div *ngIf="submitted && resetPasswordFormControl['email']?.errors">
                                <div *ngIf="resetPasswordFormControl['email'].errors?.['required']" class="text-danger">
                                    Please enter email address
                                </div>
                                <div *ngIf="resetPasswordFormControl['email'].errors?.['email'] || resetPasswordFormControl['email'].errors?.['pattern']"
                                    class="text-danger">
                                    Please enter valid email address
                                </div>
                            </div>
                            <div *ngIf="submitted && errMsg !== ''">
                                <div *ngIf="resetPasswordFormControl['email'].errors?.['invalid']" class="text-danger">
                                    {{resetPasswordFormControl['email'].errors?.['invalid']}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="pwd">Old Password<span class="required-astrick">*</span>
                            </label>
                            <div class="d-flex align-items-center position-relative">
                                <input [type]="hidePassword ? 'password' : 'text'" id="form3Example4"
                                    formControlName="oldPassword" class="form-control"
                                    placeholder="Enter your old password" id="opwd" minlength="8" maxlength="8"
                                    size="8" />
                            </div>
                            <div *ngIf="submitted && resetPasswordFormControl['oldPassword']?.errors">
                                <div *ngIf="resetPasswordFormControl['oldPassword'].errors?.['required']"
                                    class="text-danger">
                                    Please your new password</div>
                                <div *ngIf="resetPasswordFormControl['oldPassword'].errors?.['minlength']"
                                    class="text-danger">
                                    Old Password must be at least 8 Characters.
                                </div>
                            </div>
                            <div *ngIf="submitted && errMsg !== ''">
                                <div *ngIf="resetPasswordFormControl['oldPassword'].errors?.['invalid']"
                                    class="text-danger">
                                    {{resetPasswordFormControl['oldPassword'].errors?.['invalid']}}
                                </div>
                            </div>
                            <div class="eye-icon-wrap">
                                <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                                    {{ hidePassword ? 'visibility_off' : 'visibility' }}
                                </mat-icon>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="pwd">New Password<span class="required-astrick">*</span>
                            </label>
                            <div class="d-flex align-items-center position-relative">
                                <input [type]="hidePassword1 ? 'password' : 'text'" id="form3Example4"
                                    formControlName="newPassword" class="form-control"
                                    placeholder="Enter your new password" id="npwd"minlength="8" maxlength="8" size="8"/>
                            </div>
                            <div *ngIf="submitted && resetPasswordFormControl['newPassword'].errors">
                                <div *ngIf="resetPasswordFormControl['newPassword'].errors?.['required']" class="text-danger">
                                    Please your new password</div>
                                <div *ngIf="resetPasswordFormControl['newPassword'].errors?.['minlength']" class="text-danger">
                                    Password must be at least 8 Characters.
                                </div>
                            </div>
                            <div *ngIf="submitted && errMsg !== ''">
                                <div *ngIf="resetPasswordFormControl['newPassword'].errors?.['invalid']" class="text-danger">
                                    {{resetPasswordFormControl['newPassword'].errors?.['invalid']}}
                                </div>
                            </div>
                            <div class="eye-icon-wrap">
                                <mat-icon matSuffix (click)="hidePassword1 = !hidePassword1">
                                    {{ hidePassword1 ? 'visibility_off' : 'visibility' }}
                                </mat-icon>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="pwd">Confirm Password<span
                                class="required-astrick">*</span> </label>
                               <div class="d-flex align-items-center position-relative">
                                   <input [type]="hidePassword2 ? 'password' : 'text'" formControlName="confirm_password" class="form-control" placeholder="Enter your confirm password"
                                       id="cpwd" minlength="8" maxlength="8" size="8"/>
                               </div> 
                               <div *ngIf="submitted && resetPasswordFormControl['confirm_password'].errors">
                                <div *ngIf="resetPasswordFormControl['confirm_password'].errors?.['required']"
                                    class="text-danger">
                                    Please your confirm password</div>
                                <div *ngIf="resetPasswordFormControl['confirm_password'].errors?.['minlength']"
                                    class="text-danger">
                                    Confirm Password must be at least 8 Characters.
                                </div>
                                <div *ngIf="resetPasswordFormControl['confirm_password'].errors?.['notEquivalent']" class="text-danger">
                                    Passwords does
                                    not match, Please re-enter confirm
                                    password.
                                </div>
                            </div>
                            <div *ngIf="submitted && errMsg !== ''">
                                <div *ngIf="resetPasswordFormControl['confirm_password'].errors?.['invalid']" class="text-danger">
                                    {{resetPasswordFormControl['confirm_password'].errors?.['invalid']}}
                                </div>
                            </div>
                            <div class="eye-icon-wrap">
                                <mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">
                                    {{ hidePassword2 ? 'visibility_off' : 'visibility' }}
                                </mat-icon>
                            </div>
                        </div>
                         <div class="button_block text-center">  
                             <button type="submit" class="btn pinkish_red_button" (click)="submitResetPassword()">Reset
                                 Password</button>
                         </div>   
                        <div class="auth_screen_bottom_wrapper">
                            <p> Back to <a [routerLink]="['/']">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="auth_screen_right_wrapper col-md-6"></div>
    </div>
</div>