<div class="sidebar_menu_wrap">
    <h1 class="sidebar-title">OVERVIEW</h1>
    <ul>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu1.svg">
                <span>Dashboard</span>
            </div>
        </li>
        <li [class.active]=" active === 'employee'">
            <div class="menu-wrap" >
                <a [routerLink]="['/layout/employee/view']">
                    <img src="assets/image/sidebar/menu2.svg">
                    <span>Employees</span>
                </a>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu3.svg">
                <span>Leaves</span>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu4.svg">
                <span>Projects </span>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu5.svg">
                <span>Hours </span>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img matBadge="15" src="assets/image/sidebar/menu6.svg">
                <span>Report </span>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu7.svg">
                <span> TeamView </span>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu8.svg">
                <span> Calendar </span>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu9.svg">
                <span> Documents </span>
            </div>
        </li>
    </ul>
    <h1 class="sidebar-title">MASTER</h1>
    <ul>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu10.svg">
                <span> Employees </span>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu11.svg">
                <span>Projects </span>
            </div>
        </li>
        <li>
            <div class="menu-wrap">
                <img src="assets/image/sidebar/menu12.svg">
                <span>Clients </span>
            </div>
        </li>
    </ul>
</div>